.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nuevo-footer{
    background-color: #282c34;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    position: absolute;
}

.nuevo-footer__parrafo--contenido{
  color: #fff;
  font-weight: 100;
  font-size: 15px;
  text-align: left;
}

.nuevo-footer__background--imagen{
  width: 200px;
}
.home{
display: flex;
align-items:center;
flex-wrap: nowrap;
flex-direction: row;
justify-content: space-between;
width: 100%;
height: 100%;

}

.home__parrafo{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items:center;
 
}
.home__parrafo--titulo{
  font-weight: 800;
  font-size: 50px;
  text-align: left;
  left: 10px;
}
.home__parrafo--contenido{
  font-weight: 100;
  font-size: 20px;

  text-align: left;
}
.home__parrafo--contenido-final{
  font-weight: 800;
  font-size: 20px;
  text-align: left;
  justify-content: flex-start;
}
.home__background {
  background-color: #68ae44;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 100vh;
  width: 100vh;
}
.home__background--imagen{
  width: 100vh;
  height: 65vh;
}
:root{
  --mainDark: #343a40;
  --mainGrey: rgba(109, 109, 109);
  --mainLightGrey: rgba(172,172,172);
  --mainWhite: #fff;
  --mainBlue: #007bff;
}
@media only screen and (max-width:600px){
  .home{
    display: flex;
    align-items:center;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    
    }
    .home__background {
      background-color: #68ae44;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      width: 100%;
    }
    .home__background--imagen{
      width: 100%;
    }
}